<dl class="list glossary-listing">
<%

let categories = new Set();
items.forEach(item => categories.add(item.categories[0]));

%>

<% for (category of categories) { %>
<% const itemsInCategory = items.filter(item => item.categories.includes(category)); %>
<h2 class="glossary-category-heading"><%= category %></h2>
<% for (const [item_index, item] of itemsInCategory.entries()) { %>
<div <%= metadataAttrs(item) %> >
<dt class="listing-name glossary-item-name">
<%= item.name %> <code><span class="badge rounded-pill bg-info text-light"><%= item.data_type %></span></code>
<span class="listing-categories"><span class="listing-category"></span></span>
</dt>
<dd class="listing-description">
<%= item.description %><br />
<% if (item.range) { %>
<%= item.range %>
<% } %>
</dd>
<% if (item_index < itemsInCategory.length - 1) { %>
<hr class="glossary-divider" />
<% } %>
</div>
<% } %>
<% } %>
</dl>
