<dl class="list">
<% for (const item of items) { %>
<div class="quarto-post trial-table-item" <%= metadataAttrs(item) %> >
<dt class="listing-variable_name trial-table-item-title">
<%= item.variable_name %><br />
<code><span class="badge rounded-pill bg-info text-light"><%= item.data_type %></span></code>
</dt>
<dd class="listing-description">
<span class="listing-categories">
<span class="listing-category float-end"><%= item.categories %></span>
</span>
<%= item.description %>
</dd>
</div>
<% } %>
</dl>
